// font-family: 'Barlow', sans-serif;
// font-family: 'Barlow Condensed', sans-serif;
// font-family: 'Bellefair', serif;

//  VARIABLES
$bg-color: #0b0d17;
$main-text-color: #ffffff;
$secondary-text-color: #d0d6f9;

$mobile-width: "(min-width: 375px)";
$tablet-width: "(min-width: 768px)";
$s-desktop-width: "(min-width: 1440px)";
