// font-family: 'Barlow', sans-serif;
// font-family: 'Barlow Condensed', sans-serif;
// font-family: 'Bellefair', serif;

//  VARIABLES
$bg-color: #0b0d17;
$dark-color: #000;
$main-text-color: #ffffff;
$secondary-text-color: #d0d6f9;

$mobile-width: "(min-width: 440px)";
$tablet-width: "(min-width: 769px)";
$s-desktop-width: "(min-width: 1441px)";
